# === Visual Studio ===
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[Ll]og/
*.log

[Pp]ublish*/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
artifacts/

packages/
*.nupkg
project.lock.json
.nuget/

[Tt]est[Rr]esult*/
*.VisualState.xml
*.coverage
*.coveragexml

_ReSharper*/
*.DotSettings.user

Thumbs.db
*.tmp
*.bak
*.swp
*.orig
.DS_Store

*.msi
*.exe
/setup*/
/dist*/
ApiKeyAuth.cs
HealthIpAllowlist.cs